.big-out{
  background-color: rgb(127, 255, 136);
  height: calc(100vh - 150px);
  margin: 20px;
  padding: 20px;
}
.profile{
  height: 80vh;
  width: 40%;
  display: inline-block;
  margin-right: 20px;
  background-color: aqua;
}
.details{
  height: 80vh;
  width: 50%;
  margin-left: 10px;
  display: inline-block;
  background-color: aqua;
}