/* Layout.css */

/* Style for the whole layout container */
.layout {
  display: flex;
  height: calc(100vh - 70px);
  background-color: aqua;
}

/* Style for the sidebar */
.sidebar {
  width: 350px;
}

/* Style for the content area */
.content {
  flex: 1; /* Fill remaining space */ /* Add some padding for content */
  overflow-y: scroll;
  background-color: rgb(220, 229, 232);
}
